<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" th:href="@{/css/style.css}"></link> -->
    <script
      src="https://kit.fontawesome.com/befcb3cdce.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css"
    />
    <link rel="stylesheet" href="../static/css/responsive.dataTables.min.css" />

    <title>SpringTech</title>
  </head>
  <body>
    <header id="top-page">
      <div class="container-fluid bg-success py-3">
        <div class="row align-items-center">
          <!-- Columna 1 -->
          <div class="col-md-4">
            <div class="text-center logo-container">
              <img th:src="@{/images/logo.png}" alt="logo" class="logo-img" />
              <a class="logo-text" th:href="@{/index}">
                <h3>SpringTech</h3>
              </a>
            </div>
          </div>
          <!-- Columna 2 -->
          <div class="col-md-4">
            <div class="text-center">
              <nav class="navbar bg-success">
                <div class="container-fluid justify-content-center">
                  <form class="d-flex" action="/buscar" method="GET">
                    <input
                      class="form-control me-2"
                      type="search"
                      placeholder="Buscar"
                      aria-label="Search"
                      name="nombreProducto"
                    />
                    <button class="btn btn-outline-light" type="submit">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </form>
                </div>
              </nav>
            </div>
          </div>

          <!-- Columna 3 -->
          <div class="col-md-4">
            <div class="text-center d-flex user-container">
              <div class="cart-container">
                <a id="btn-login" th:href="@{/Login}" th:class="${class}">
                  <i class="fa-solid fa-user icono"></i>
                  <span class="p-icono">Iniciar Sesión</span>
                </a>
                <div th:class="${dropdown}" id="listaopciones">
                  <button
                    class="btn btn-light dropdown-toggle text-success"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    id="title"
                    th:text="${nombre + ' ' + apellido}"
                  ></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        th:href="@{'/' + ${rol}}"
                        id="cuenta"
                        >Mi cuenta</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#" id="#regvisitas"
                        >Historial de compras</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#" id="#regdelivery"
                        >Garantías</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="#" id="#regdelivery"
                        >Reclamos</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        th:href="@{/logout}"
                        id="btn-logout"
                        >Cerrar sesión</a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <div class="login-container">
                <a
                  th:href="@{/Cart}"
                  class="btn btn-light text-decoration-none"
                >
                  <i class="fa-solid fa-cart-shopping icono">
                    <span class="p-icono">$ 0.00</span></i
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <div class="container-fluid d-flex bg-dark posicion">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/index}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/computadoras}">Computadoras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/laptops}">Laptops</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/impresoras}">Impresoras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/garantía}">Garantía</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <section id="reclamos" class="container text-center my-5">
      <h2>Reclamos</h2>
      <p>
        En SpringTech nos preocupamos por brindar un excelente servicio a
        nuestros clientes. Si tienes algún reclamo o sugerencia, por favor
        déjanos saber.
      </p>
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">DNI</label>
          <input type="text" class="form-control" id="nombre" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Motivo de Reclamo</label>
          <textarea class="form-control" id="mensaje" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar reclamo</button>
      </form>
    </section>

    <section id="partners">
      <div class="container text-center my-5">
        <div class="row align-items-center">
          <div class="carousel-item active d-flex">
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/87.jpg"
                class="d-block w-100 partner"
                alt="partner1"
              />
            </div>
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/203.jpg"
                class="d-block w-100 partner"
                alt="partner2"
              />
            </div>
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/631.jpg"
                class="d-block w-100 partner"
                alt="partner3"
              />
            </div>
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/24.jpg"
                class="d-block w-100 partner"
                alt="partner4"
              />
            </div>
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/126.jpg"
                class="d-block w-100 partner"
                alt="partner5"
              />
            </div>
            <div class="col-md-2 col-2">
              <img
                src="https://cyccomputer.pe/img/m/129.jpg"
                class="d-block w-100 partner"
                alt="partner6"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container-fluid bg-success py-5">
        <div class="row align-items-center">
          <!-- Columna 1 -->
          <div class="col-md-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <img
                src="../static/images/logo.png"
                alt="logo"
                class="logo-img"
              />
              <a class="logo-text" href="#">
                <h3>SpringTech</h3>
              </a>
            </div>

            <h6 class="text-footer my-3">
              Av. Garcilaso de la Vega 1372 <br />
              Galería Plaza Tec <br />
              Lima 15004 <br />
              01 2502926
            </h6>
          </div>
          <!-- Columna 2 -->
          <div class="col-md-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <h3 class="logo-text">Métodos de pago</h3>
            </div>

            <h6 class="text-footer my-3">
              Yape <br />
              Plin <br />
              Transferencia bancaria <br />
              Plataforma de pagos
            </h6>
            <button type="button" class="btn btn-light rounded-circle my-2">
              <a href="#"><i class="fa-solid fa-arrow-up text-success"></i></a>
            </button>
          </div>
          <!-- Columna 3 -->
          <div class="col-md-4 text-center">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.4499075126727!2d-77.03897243031774!3d-12.05730308774232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c6b044e311%3A0xbb439cddcdce203b!2sAv.%20Garcilaso%20de%20la%20Vega%201372%2C%20Lima%2015001!5e0!3m2!1ses!2spe!4v1714264375208!5m2!1ses!2spe"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div
          class="row bg-dark py-3 d-flex justify-content-center align-content-center"
        >
          <!-- Agregamos un relleno superior e inferior -->
          <div
            class="col col-md-10 text-center text-light align-content-center"
          >
            © 2024 SpringTech. Todos los derechos reservados
          </div>
          <div class="col col-md-2 text-center">
            <h6 class="logo-text">Redes sociales</h6>
            <a href="#" class="text-light mx-2"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a href="#" class="text-light mx-2"
              ><i class="fab fa-whatsapp"></i
            ></a>
            <a href="#" class="text-light mx-2"
              ><i class="far fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/javascript/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>
    <script src="../static/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/javascript/getandupdateUsuarios.js"></script>
  </body>
</html>
